<div class="anasayfa-content">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3">
        <div class="card mb-5 mt-5">
          <img src="" alt="SportImage" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">SortName</h5>
            <div class="buton"><a href="/ilanlar" style="display: block; width: 100%;" class="btn btn-primary">RAKİP BUL</a></div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-5 mt-5">
          <img  src="" alt="SportImage" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">SportName</h5>
            <div class="buton"><a href="/ilanlar" style="display: block; width: 100%;" class="btn btn-primary">RAKİP BUL</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-5 mt-5">
          <img src="" alt="SportImage" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">SportName</h5>
            <div class="buton"><a href="/ilanlar" style="display: block; width: 100%;" class="btn btn-primary">RAKİP BUL</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-5 mt-5">
          <img src="" alt="SportImage" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">SportName</h5>
            <div class="buton"><a href="/ilanlar" style="display: block; width: 100%;" class="btn btn-primary">RAKİP BUL</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

