<div class="anasayfa-content">
  <div class="container">
    <div class="row justify-content-between" >
      <div class="col-md-3" *ngFor="let sports of sportses">
        <div class="card mb-5 mt-5">
          <img src="{{sports.sportImage}}" alt="SportImage" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">{{sports.sportName}}</h5>
            <div class="buton"><a href="/ilanlar" style="display: block; width: 100%;" class="btn btn-primary">RAKİP BUL</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

