<section style="background-color: #ffffff;">
    <div class="projcard projcard-blue" *ngIf="user">
        <div class="projcard-innerbox">
            <div class="container py-5">
                <div class="row profile">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="{{user.userImage}}" alt="" class="img-fluid" style="width: 200px;">
                                <h5 class="my-3">{{user.userName}}</h5>
                                <p class="text-muted mb-4"></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Ad Soyad</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{user.firstName}} {{user.lastName}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{user.email}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{user.phoneNumber}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                                <button class="btn btn-primary">Profili Düzenle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>