<div class="container" style="width: 100%; margin-left: 200px;">
<main id="main" class="main">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Etkinlik Adı</th>
            <th>Etkinlik Sahibi</th>
            <th>Tarih</th>
            <th>İl</th>
            <th>İlçe</th>
            <th>Sil / Güncelle</th>
            <!-- Diğer sütun başlıkları -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userEvents of userEvents">
            <td>{{ userEvents.events?.eventName }}</td>
            <td>{{ userEvents.user?.userName }}</td>
            <td>{{ userEvents.events?.eventDate}}</td>
            <td>{{ userEvents.events?.adress?.city?.cityName}}</td>
            <td>{{ userEvents.events?.adress?.district?.districtName}}</td>
            <td>{{ userEvents.events?.sports?.sportName}}</td>

            

          
            <!-- <td>{{ events.user?.userName}}</td>
            <td>{{ events.sport?.sportName}}</td> -->
            <td>
              <div class="button-group">
                <!-- <button (click)="confirmDelete(userEvents.id)" class="btn btn-danger" style="width: 8rem; margin-right: 15px;">Sil</button>
                <button (click)="showUpdateForm(userEvents)" class="btn btn-warning" style="width: 8rem;">Güncelle</button> -->
              </div>
            </td>
            <!-- Diğer sütunlar için verileri ekle -->
          </tr>
        </tbody>
      </table>
      
      <button (click)="showAddForm=true" class="btn btn-success" style="width: 8rem; margin-right: 15px;">Ekle</button>

       <!-- Yeni ilan ekleme formu (başlangıçta gizli) -->
    <div *ngIf="showAddForm">
      <h2 style="margin-top: 15px;">Yeni Etkinlik Ekle</h2>
      <form>
        <div class="form-group">
          <label for="eventText" style="color: gray;">Etkinlik</label>
          <input type="text" class="form-control" id="eventText" name="eventText" [(ngModel)]="newEvents.eventName">
        </div>
        <div class="form-group">
          <label for="eventDate" style="color: gray; margin-top: 10px;">Etkinlik Tarih</label>
          <input type="date" class="form-control" id="eventDate" name="eventDate" [(ngModel)]="newEvents.eventDate">
        </div>

        <div class="form-group">
          <label for="sportID" style="color: gray; margin-top: 10px;">Adres</label>
          <input type="number" class="form-control" id="sportID" name="sportID" [(ngModel)]="newEvents.adressID">
        </div>
        <div class="form-group">
          <label for="adressID" style="color: gray; margin-top: 10px;">Kullanıcı</label>
          <input type="number" class="form-control" id="adressID" name="adressID" [(ngModel)]="newEvents.userID">
        </div>
        <div class="form-group">
          <label for="sportsID" style="color: gray; margin-top: 10px;">Spor</label>
          <input type="number" class="form-control" id="sportsID" name="sportsID" [(ngModel)]="newEvents.sportID">
        </div>
        <div style="margin-top: 15px; width: 100%; text-align: center; display: flex; flex-direction: column; align-items: center;">
          <div style="width: 50%;">
            <button type="button" (click)="cancelAdd()" class="btn btn-secondary" style="width: 100%;">İptal</button>
          </div>
          <div style="width: 50%; margin-top: 10px;">
            <button type="button" (click)="addEvents()" class="btn btn-primary" style="width: 100%;">Kaydet</button>
          </div>
        </div>
      </form>
    </div>





    <div *ngIf="selectedEvents">
      <h2 style="margin-top: 15px;">Etkinlik Güncelle</h2>
      <form>
        <!-- Güncelleme için gerekli input alanları burada olmalı -->
        <div class="form-group">
          <label for="updatedEventsText" style="color: gray; margin-top: 10px;">Etkinlik</label>
          <input type="text" class="form-control" id="updatedEventsText" name="updatedEventsText" [(ngModel)]="selectedEvents.eventName">
        </div>

        <div class="form-group">
          <label for="updatedEventsDate" style="color: gray; margin-top: 10px;">Etkinlik Tarihi</label>
          <input type="text" class="form-control" id="updatedEventsDate" name="updatedEventsDate" [(ngModel)]="selectedEvents.eventDate">
        </div>

        <div class="form-group">
          <label for="updatedAdressId" style="color: gray; margin-top: 10px;">Adres</label>
          <input type="number" class="form-control" id="updatedAdressId" name="updatedAdressId" [(ngModel)]="selectedEvents.adressID">
        </div>

        <div class="form-group">
          <label for="updatedUserId" style="color: gray; margin-top: 10px;">Kullanıcı</label>
          <input type="number" class="form-control" id="updatedUserId" name="updatedUserId" [(ngModel)]="selectedEvents.userID">
        </div>

        <div class="form-group">
          <label for="updatedSportId" style="color: gray; margin-top: 10px;">Spor</label>
          <input type="number" class="form-control" id="updatedSportId" name="updatedSportId" [(ngModel)]="selectedEvents.sportID">
        </div>

        <!-- Diğer güncelleme alanlarını burada ekleyin -->
        <div style="margin-top: 15px; width: 100%; text-align: center; display: flex; flex-direction: column; align-items: center;">
          <div style="width: 50%;">
            <button type="button" (click)="cancelUpdate()" class="btn btn-secondary" style="width: 100%;">İptal</button>
          </div>
          <div style="width: 50%; margin-top: 10px;">
            <button type="button" (click)="updateEvents()" class="btn btn-primary" style="width: 100%;">Kaydet</button>
          </div>
        </div>
      </form>
    </div>
    





</main>
</div>