<header id="header">
  <h1 id="logo"><a href="index.html"><span><img src="https://i.pinimg.com/originals/f3/10/13/f310137ff80cddb1010ecd94f844ac76.png" alt=""></span>RAKİP BUL</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Anasayfa</a></li>
      <li>
        <a href="#">İlanlar</a>
      </li>
      <li><a href="elements.html">Etkinlikler</a></li>
      <li><a href="elements.html">Kullanıcı Profilleri</a></li>
      <li><a href="#" class="button primary">Giriş</a></li>
    </ul>
  </nav>
</header>

