
  <app-navbar></app-navbar>
  <div class="container">
    <h1 class="mb-4">Etkinlikler</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3 d-flex flex-row-reverse">
                <div>
                  <div class="card-body">
                    <h5 class="card-title">EventName</h5>
                    <p class="card-text">EventID</p>
                    <p class="card-text">SportID</p>
                    <p class="card-text">UserID</p>
                    <p class="card-text">EventDate</p>
                    <a href="#" class="btn btn-primary">Detaylar</a>
                </div>
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://images.pexels.com/photos/9519535/pexels-photo-9519535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" style="height: 250px;" alt="Etkinlik 1">
                </div>
            </div>

            <!--  -->

            <div class="card mb-3 d-flex flex-row-reverse">
                <div>
                  <div class="card-body">
                    <h5 class="card-title">EventName</h5>
                    <p class="card-text">EventID</p>
                    <p class="card-text">SportID</p>
                    <p class="card-text">UserID</p>
                    <p class="card-text">EventDate</p>
                    <a href="#" class="btn btn-primary">Detaylar</a>
                </div>
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://images.pexels.com/photos/9376460/pexels-photo-9376460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" style="height: 250px;" alt="Etkinlik 1">
                </div>
            </div>

            <!--  -->

            <div class="card mb-3 d-flex flex-row-reverse">
                <div>
                  <div class="card-body">
                    <h5 class="card-title">EventName</h5>
                    <p class="card-text">EventID</p>
                    <p class="card-text">SportID</p>
                    <p class="card-text">UserID</p>
                    <p class="card-text">EventDate</p>
                    <a href="#" class="btn btn-primary">Detaylar</a>
                </div>
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://images.pexels.com/photos/6203581/pexels-photo-6203581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" style="height: 250px;" alt="Etkinlik 1">
                </div>
            </div>

            <!-- -->

            <div class="card mb-3 d-flex flex-row-reverse">
                <div>
                    <div class="card-body">
                        <h5 class="card-title">EventName</h5>
                        <p class="card-text">EventID</p>
                        <p class="card-text">SportID</p>
                        <p class="card-text">UserID</p>
                        <p class="card-text">EventDate</p>
                        <a href="#" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://images.pexels.com/photos/9519535/pexels-photo-9519535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" style="height: 250px;" alt="Etkinlik 1">
                </div>
            </div>

            <!--  -->
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filtrele</h5>
                    <form class="text-center">
                        <div class="form-group">
                            <label for="etkinlikTuru">Etkinlik Türü</label>
                            <select class="form-control" id="etkinlikTuru">
                                <option style="background-color: #fff;" class="text-secondary">Tümü</option>
                                <option style="background-color: #fff;" class="text-secondary">SportID</option>
                                <option style="background-color: #fff;" class="text-secondary">SportID</option>
                                <option style="background-color: #fff;" class="text-secondary">SportID</option>
                                <option style="background-color: #fff;" class="text-secondary">SportID</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" style="width: 100%;">Filtrele</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
