.advert-card {
  background-color: #fff;
  border: 4px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
}

.advert-card:before,
.advert-card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #007bff, #ff5722, #00C853, #FFD600);
  top: 0;
  left: 0;
  transition: transform 0.2s;
}

.advert-card:after {
  top: auto;
  bottom: 0;
  transform: scaleX(0);
}

.advert-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.advert-card:hover:before,
.advert-card:hover:after {
  transform: scaleX(1);
}

.advert-details {
  padding: 20px;
}

.advert-title {
  font-size: 20px;
  margin: 0;
}

.advert-info {
  margin: 0;
  color: gray;
}

.card-title {
  margin-top: 0;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: gray;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}
button {
  margin-right: 10px;
}



/* tablo */


